.nav {
  font-family: "MBF Moonlander";
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.5rem;
  z-index: 1;
  padding-top: 25px;
  box-sizing: content-box;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #00000096;
  transform: translateY(-100%);
}

.nav__content {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: fixed;
  left: 20px;
  object-fit: contain;
  cursor: pointer;
  align-self: center;
}

.logo__nasa {
  font-size: 1.6em;
  color: #ff7171;
  transition: font-size linear 0.3s;
}
.logo__cam {
  font-size: 20px;
  color: #ffffff;
  transition: font-size linear 0.3s;
  letter-spacing: normal;
}

.nasa__scroll {
  font-size: 1.2em;
}
.cam__scroll {
  font-size: 1em;
}

.nav__menu {
  color: #ffffff;
  position: fixed;
  right: 20px;
  cursor: pointer;
  font-size: 1em;
  align-self: center;
}
